# Ambientes virtuais
venv/
.venv/
env/
.env

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de cache do Jupyter Notebook
.ipynb_checkpoints

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de dados grandes (se necessário, para evitar upload no GitHub)
# data/raw/arquivo_muito_grande.csv